# coding: utf-8

"""
    MLS2 API

    Central API  # noqa: E501

    OpenAPI spec version: 0.7.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DocumentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_documents_item(self, id, **kwargs):  # noqa: E501
        """Removes the Documents resource.  # noqa: E501

        Removes the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_documents_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_documents_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_documents_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_documents_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Removes the Documents resource.  # noqa: E501

        Removes the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_documents_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/documents/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_documents_collection(self, **kwargs):  # noqa: E501
        """Retrieves the collection of Documents resources.  # noqa: E501

        Retrieves the collection of Documents resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_documents_collection(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: The collection page number
        :param int items_per_page: The number of items per page
        :param bool pagination: Enable or disable pagination
        :param str parent:
        :param list[str] parent:
        :param str owner:
        :param list[str] owner:
        :param str organization:
        :param list[str] organization:
        :param str custom_filename:
        :param int mls1_id:
        :param list[int] mls1_id:
        :param str shared_for_groups:
        :param list[str] shared_for_groups:
        :param str shared_users:
        :param list[str] shared_users:
        :param str document_groups_or_user_filter:
        :param bool exists_parent:
        :param bool exists_organization:
        :param bool is_common:
        :param bool is_group:
        :param bool is_restricted:
        :param str file_resource:
        :param list[str] file_resource:
        :param str file_resource_original_filename:
        :param str file_resource_mime_type:
        :param list[str] file_resource_mime_type:
        :return: InlineResponse2009
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_documents_collection_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_documents_collection_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_documents_collection_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves the collection of Documents resources.  # noqa: E501

        Retrieves the collection of Documents resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_documents_collection_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: The collection page number
        :param int items_per_page: The number of items per page
        :param bool pagination: Enable or disable pagination
        :param str parent:
        :param list[str] parent:
        :param str owner:
        :param list[str] owner:
        :param str organization:
        :param list[str] organization:
        :param str custom_filename:
        :param int mls1_id:
        :param list[int] mls1_id:
        :param str shared_for_groups:
        :param list[str] shared_for_groups:
        :param str shared_users:
        :param list[str] shared_users:
        :param str document_groups_or_user_filter:
        :param bool exists_parent:
        :param bool exists_organization:
        :param bool is_common:
        :param bool is_group:
        :param bool is_restricted:
        :param str file_resource:
        :param list[str] file_resource:
        :param str file_resource_original_filename:
        :param str file_resource_mime_type:
        :param list[str] file_resource_mime_type:
        :return: InlineResponse2009
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'items_per_page', 'pagination', 'parent', 'parent', 'owner', 'owner', 'organization', 'organization', 'custom_filename', 'mls1_id', 'mls1_id', 'shared_for_groups', 'shared_for_groups', 'shared_users', 'shared_users', 'document_groups_or_user_filter', 'exists_parent', 'exists_organization', 'is_common', 'is_group', 'is_restricted', 'file_resource', 'file_resource', 'file_resource_original_filename', 'file_resource_mime_type', 'file_resource_mime_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_documents_collection" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'items_per_page' in params:
            query_params.append(('itemsPerPage', params['items_per_page']))  # noqa: E501
        if 'pagination' in params:
            query_params.append(('pagination', params['pagination']))  # noqa: E501
        if 'parent' in params:
            query_params.append(('parent', params['parent']))  # noqa: E501
        if 'parent' in params:
            query_params.append(('parent[]', params['parent']))  # noqa: E501
            collection_formats['parent[]'] = 'multi'  # noqa: E501
        if 'owner' in params:
            query_params.append(('owner', params['owner']))  # noqa: E501
        if 'owner' in params:
            query_params.append(('owner[]', params['owner']))  # noqa: E501
            collection_formats['owner[]'] = 'multi'  # noqa: E501
        if 'organization' in params:
            query_params.append(('organization', params['organization']))  # noqa: E501
        if 'organization' in params:
            query_params.append(('organization[]', params['organization']))  # noqa: E501
            collection_formats['organization[]'] = 'multi'  # noqa: E501
        if 'custom_filename' in params:
            query_params.append(('customFilename', params['custom_filename']))  # noqa: E501
        if 'mls1_id' in params:
            query_params.append(('mls1Id', params['mls1_id']))  # noqa: E501
        if 'mls1_id' in params:
            query_params.append(('mls1Id[]', params['mls1_id']))  # noqa: E501
            collection_formats['mls1Id[]'] = 'multi'  # noqa: E501
        if 'shared_for_groups' in params:
            query_params.append(('sharedForGroups', params['shared_for_groups']))  # noqa: E501
        if 'shared_for_groups' in params:
            query_params.append(('sharedForGroups[]', params['shared_for_groups']))  # noqa: E501
            collection_formats['sharedForGroups[]'] = 'multi'  # noqa: E501
        if 'shared_users' in params:
            query_params.append(('sharedUsers', params['shared_users']))  # noqa: E501
        if 'shared_users' in params:
            query_params.append(('sharedUsers[]', params['shared_users']))  # noqa: E501
            collection_formats['sharedUsers[]'] = 'multi'  # noqa: E501
        if 'document_groups_or_user_filter' in params:
            query_params.append(('documentGroupsOrUserFilter', params['document_groups_or_user_filter']))  # noqa: E501
        if 'exists_parent' in params:
            query_params.append(('exists[parent]', params['exists_parent']))  # noqa: E501
        if 'exists_organization' in params:
            query_params.append(('exists[organization]', params['exists_organization']))  # noqa: E501
        if 'is_common' in params:
            query_params.append(('isCommon', params['is_common']))  # noqa: E501
        if 'is_group' in params:
            query_params.append(('isGroup', params['is_group']))  # noqa: E501
        if 'is_restricted' in params:
            query_params.append(('isRestricted', params['is_restricted']))  # noqa: E501
        if 'file_resource' in params:
            query_params.append(('fileResource', params['file_resource']))  # noqa: E501
        if 'file_resource' in params:
            query_params.append(('fileResource[]', params['file_resource']))  # noqa: E501
            collection_formats['fileResource[]'] = 'multi'  # noqa: E501
        if 'file_resource_original_filename' in params:
            query_params.append(('fileResource.originalFilename', params['file_resource_original_filename']))  # noqa: E501
        if 'file_resource_mime_type' in params:
            query_params.append(('fileResource.mimeType', params['file_resource_mime_type']))  # noqa: E501
        if 'file_resource_mime_type' in params:
            query_params.append(('fileResource.mimeType[]', params['file_resource_mime_type']))  # noqa: E501
            collection_formats['fileResource.mimeType[]'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/documents', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2009',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_documents_item(self, id, **kwargs):  # noqa: E501
        """Retrieves a Documents resource.  # noqa: E501

        Retrieves a Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_documents_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: DocumentsJsonldDocumentItemReadFileReadFileResourceRead
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_documents_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_documents_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_documents_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a Documents resource.  # noqa: E501

        Retrieves a Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_documents_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: DocumentsJsonldDocumentItemReadFileReadFileResourceRead
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/documents/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonldDocumentItemReadFileReadFileResourceRead',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_create_file_documents_collection(self, **kwargs):  # noqa: E501
        """Creates a Documents resource.  # noqa: E501

        Creates a Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_file_documents_collection(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int parent:
        :param str files:
        :param int feedback:
        :return: DocumentsJsonldDocumentWrite
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_create_file_documents_collection_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.post_create_file_documents_collection_with_http_info(**kwargs)  # noqa: E501
            return data

    def post_create_file_documents_collection_with_http_info(self, **kwargs):  # noqa: E501
        """Creates a Documents resource.  # noqa: E501

        Creates a Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_file_documents_collection_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int parent:
        :param str files:
        :param int feedback:
        :return: DocumentsJsonldDocumentWrite
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'files', 'feedback']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_create_file_documents_collection" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'parent' in params:
            form_params.append(('parent', params['parent']))  # noqa: E501
        if 'files' in params:
            local_var_files['files'] = params['files']  # noqa: E501
        if 'feedback' in params:
            form_params.append(('feedback', params['feedback']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/filemanager/create_file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonldDocumentWrite',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_documents_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_documents_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemColumnWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_documents_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_documents_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemColumnWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_documents_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/documents/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_documents_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_documents_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemColumnWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_documents_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_documents_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemColumnWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_documents_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/documents/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_replace_resource_documents_item(self, id, **kwargs):  # noqa: E501
        """Creates a Documents resource.  # noqa: E501

        Creates a Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_replace_resource_documents_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :param str files:
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_replace_resource_documents_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_replace_resource_documents_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def put_replace_resource_documents_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Creates a Documents resource.  # noqa: E501

        Creates a Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_replace_resource_documents_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :param str files:
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'files']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_replace_resource_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_replace_resource_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'files' in params:
            local_var_files['files'] = params['files']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/filemanager/replace_resource/{id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_update_file_documents_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_update_file_documents_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_update_file_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_update_file_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_update_file_documents_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_update_file_documents_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_update_file_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_update_file_documents_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_update_file_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/filemanager/update_file/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_update_file_documents_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_update_file_documents_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_update_file_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_update_file_documents_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_update_file_documents_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Documents resource.  # noqa: E501

        Replaces the Documents resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_update_file_documents_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DocumentsJsonldDocumentItemWrite body: The updated Documents resource (required)
        :param str id: Resource identifier (required)
        :return: DocumentsJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_update_file_documents_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_update_file_documents_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_update_file_documents_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/filemanager/update_file/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentsJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
