# coding: utf-8

"""
    MLS2 API

    Central API  # noqa: E501

    OpenAPI spec version: 0.7.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class EquipmentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_equipment_item(self, id, **kwargs):  # noqa: E501
        """Removes the Equipment resource.  # noqa: E501

        Removes the Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_equipment_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_equipment_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_equipment_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_equipment_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Removes the Equipment resource.  # noqa: E501

        Removes the Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_equipment_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_equipment_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_equipment_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_equipment_collection(self, **kwargs):  # noqa: E501
        """Retrieves the collection of Equipment resources.  # noqa: E501

        Retrieves the collection of Equipment resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_equipment_collection(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: The collection page number
        :param int items_per_page: The number of items per page
        :param bool pagination: Enable or disable pagination
        :param int id:
        :param list[int] id:
        :param str organization:
        :param list[str] organization:
        :param str task_todos:
        :param list[str] task_todos:
        :param str group_task_todos:
        :param list[str] group_task_todos:
        :param str name:
        :param str category:
        :param list[str] category:
        :param str category_name:
        :param str manufacturer_name:
        :param str equipment_maintenances:
        :param list[str] equipment_maintenances:
        :param str order_equipment_maintenances_last_run:
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_equipment_collection_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_equipment_collection_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_equipment_collection_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves the collection of Equipment resources.  # noqa: E501

        Retrieves the collection of Equipment resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_equipment_collection_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: The collection page number
        :param int items_per_page: The number of items per page
        :param bool pagination: Enable or disable pagination
        :param int id:
        :param list[int] id:
        :param str organization:
        :param list[str] organization:
        :param str task_todos:
        :param list[str] task_todos:
        :param str group_task_todos:
        :param list[str] group_task_todos:
        :param str name:
        :param str category:
        :param list[str] category:
        :param str category_name:
        :param str manufacturer_name:
        :param str equipment_maintenances:
        :param list[str] equipment_maintenances:
        :param str order_equipment_maintenances_last_run:
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'items_per_page', 'pagination', 'id', 'id', 'organization', 'organization', 'task_todos', 'task_todos', 'group_task_todos', 'group_task_todos', 'name', 'category', 'category', 'category_name', 'manufacturer_name', 'equipment_maintenances', 'equipment_maintenances', 'order_equipment_maintenances_last_run']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_equipment_collection" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'items_per_page' in params:
            query_params.append(('itemsPerPage', params['items_per_page']))  # noqa: E501
        if 'pagination' in params:
            query_params.append(('pagination', params['pagination']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id[]', params['id']))  # noqa: E501
            collection_formats['id[]'] = 'multi'  # noqa: E501
        if 'organization' in params:
            query_params.append(('organization', params['organization']))  # noqa: E501
        if 'organization' in params:
            query_params.append(('organization[]', params['organization']))  # noqa: E501
            collection_formats['organization[]'] = 'multi'  # noqa: E501
        if 'task_todos' in params:
            query_params.append(('taskTodos', params['task_todos']))  # noqa: E501
        if 'task_todos' in params:
            query_params.append(('taskTodos[]', params['task_todos']))  # noqa: E501
            collection_formats['taskTodos[]'] = 'multi'  # noqa: E501
        if 'group_task_todos' in params:
            query_params.append(('groupTaskTodos', params['group_task_todos']))  # noqa: E501
        if 'group_task_todos' in params:
            query_params.append(('groupTaskTodos[]', params['group_task_todos']))  # noqa: E501
            collection_formats['groupTaskTodos[]'] = 'multi'  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'category' in params:
            query_params.append(('category[]', params['category']))  # noqa: E501
            collection_formats['category[]'] = 'multi'  # noqa: E501
        if 'category_name' in params:
            query_params.append(('category.name', params['category_name']))  # noqa: E501
        if 'manufacturer_name' in params:
            query_params.append(('manufacturer.name', params['manufacturer_name']))  # noqa: E501
        if 'equipment_maintenances' in params:
            query_params.append(('equipmentMaintenances', params['equipment_maintenances']))  # noqa: E501
        if 'equipment_maintenances' in params:
            query_params.append(('equipmentMaintenances[]', params['equipment_maintenances']))  # noqa: E501
            collection_formats['equipmentMaintenances[]'] = 'multi'  # noqa: E501
        if 'order_equipment_maintenances_last_run' in params:
            query_params.append(('order[equipmentMaintenances.lastRun]', params['order_equipment_maintenances_last_run']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_equipment_item(self, id, **kwargs):  # noqa: E501
        """Retrieves a Equipment resource.  # noqa: E501

        Retrieves a Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_equipment_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: EquipmentJsonldEquipmentItemRead
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_equipment_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_equipment_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_equipment_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a Equipment resource.  # noqa: E501

        Retrieves a Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_equipment_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: EquipmentJsonldEquipmentItemRead
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_equipment_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_equipment_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EquipmentJsonldEquipmentItemRead',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_equipment_collection(self, body, **kwargs):  # noqa: E501
        """Creates a Equipment resource.  # noqa: E501

        Creates a Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_equipment_collection(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentWrite body: The new Equipment resource (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_equipment_collection_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_equipment_collection_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def post_equipment_collection_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Equipment resource.  # noqa: E501

        Creates a Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_equipment_collection_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentWrite body: The new Equipment resource (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_equipment_collection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_equipment_collection`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EquipmentJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_equipment_collection(self, body, **kwargs):  # noqa: E501
        """Creates a Equipment resource.  # noqa: E501

        Creates a Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_equipment_collection(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentWrite body: The new Equipment resource (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_equipment_collection_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_equipment_collection_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def post_equipment_collection_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Equipment resource.  # noqa: E501

        Creates a Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_equipment_collection_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentWrite body: The new Equipment resource (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_equipment_collection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_equipment_collection`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EquipmentJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_equipment_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Equipment resource.  # noqa: E501

        Replaces the Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_equipment_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentItemWrite body: The updated Equipment resource (required)
        :param str id: Resource identifier (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_equipment_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_equipment_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_equipment_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Equipment resource.  # noqa: E501

        Replaces the Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_equipment_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentItemWrite body: The updated Equipment resource (required)
        :param str id: Resource identifier (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_equipment_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_equipment_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_equipment_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EquipmentJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_equipment_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Equipment resource.  # noqa: E501

        Replaces the Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_equipment_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentItemWrite body: The updated Equipment resource (required)
        :param str id: Resource identifier (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_equipment_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_equipment_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_equipment_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the Equipment resource.  # noqa: E501

        Replaces the Equipment resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_equipment_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EquipmentJsonldEquipmentItemWrite body: The updated Equipment resource (required)
        :param str id: Resource identifier (required)
        :return: EquipmentJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_equipment_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_equipment_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_equipment_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/equipment/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EquipmentJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
