# coding: utf-8

"""
    MLS2 API

    Central API  # noqa: E501

    OpenAPI spec version: 0.7.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ExternalContentOrganizationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_external_content_organization_item(self, id, **kwargs):  # noqa: E501
        """Removes the ExternalContentOrganization resource.  # noqa: E501

        Removes the ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_external_content_organization_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_external_content_organization_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_external_content_organization_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_external_content_organization_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Removes the ExternalContentOrganization resource.  # noqa: E501

        Removes the ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_external_content_organization_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_external_content_organization_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_external_content_organization_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_external_content_organization_collection(self, **kwargs):  # noqa: E501
        """Retrieves the collection of ExternalContentOrganization resources.  # noqa: E501

        Retrieves the collection of ExternalContentOrganization resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_external_content_organization_collection(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: The collection page number
        :param int items_per_page: The number of items per page
        :param bool pagination: Enable or disable pagination
        :param str external_content:
        :param list[str] external_content:
        :param str external_content_license_model:
        :param list[str] external_content_license_model:
        :param str external_content_supplier:
        :param list[str] external_content_supplier:
        :param str organization:
        :param list[str] organization:
        :param bool exists_projects:
        :param bool exists_tasks:
        :param bool exists_forms:
        :param bool exists_elearnings:
        :param bool exists_no_mls_contents:
        :return: InlineResponse20021
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_external_content_organization_collection_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_external_content_organization_collection_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_external_content_organization_collection_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves the collection of ExternalContentOrganization resources.  # noqa: E501

        Retrieves the collection of ExternalContentOrganization resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_external_content_organization_collection_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: The collection page number
        :param int items_per_page: The number of items per page
        :param bool pagination: Enable or disable pagination
        :param str external_content:
        :param list[str] external_content:
        :param str external_content_license_model:
        :param list[str] external_content_license_model:
        :param str external_content_supplier:
        :param list[str] external_content_supplier:
        :param str organization:
        :param list[str] organization:
        :param bool exists_projects:
        :param bool exists_tasks:
        :param bool exists_forms:
        :param bool exists_elearnings:
        :param bool exists_no_mls_contents:
        :return: InlineResponse20021
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'items_per_page', 'pagination', 'external_content', 'external_content', 'external_content_license_model', 'external_content_license_model', 'external_content_supplier', 'external_content_supplier', 'organization', 'organization', 'exists_projects', 'exists_tasks', 'exists_forms', 'exists_elearnings', 'exists_no_mls_contents']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_external_content_organization_collection" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'items_per_page' in params:
            query_params.append(('itemsPerPage', params['items_per_page']))  # noqa: E501
        if 'pagination' in params:
            query_params.append(('pagination', params['pagination']))  # noqa: E501
        if 'external_content' in params:
            query_params.append(('externalContent', params['external_content']))  # noqa: E501
        if 'external_content' in params:
            query_params.append(('externalContent[]', params['external_content']))  # noqa: E501
            collection_formats['externalContent[]'] = 'multi'  # noqa: E501
        if 'external_content_license_model' in params:
            query_params.append(('externalContent.licenseModel', params['external_content_license_model']))  # noqa: E501
        if 'external_content_license_model' in params:
            query_params.append(('externalContent.licenseModel[]', params['external_content_license_model']))  # noqa: E501
            collection_formats['externalContent.licenseModel[]'] = 'multi'  # noqa: E501
        if 'external_content_supplier' in params:
            query_params.append(('externalContent.supplier', params['external_content_supplier']))  # noqa: E501
        if 'external_content_supplier' in params:
            query_params.append(('externalContent.supplier[]', params['external_content_supplier']))  # noqa: E501
            collection_formats['externalContent.supplier[]'] = 'multi'  # noqa: E501
        if 'organization' in params:
            query_params.append(('organization', params['organization']))  # noqa: E501
        if 'organization' in params:
            query_params.append(('organization[]', params['organization']))  # noqa: E501
            collection_formats['organization[]'] = 'multi'  # noqa: E501
        if 'exists_projects' in params:
            query_params.append(('exists[projects]', params['exists_projects']))  # noqa: E501
        if 'exists_tasks' in params:
            query_params.append(('exists[tasks]', params['exists_tasks']))  # noqa: E501
        if 'exists_forms' in params:
            query_params.append(('exists[forms]', params['exists_forms']))  # noqa: E501
        if 'exists_elearnings' in params:
            query_params.append(('exists[elearnings]', params['exists_elearnings']))  # noqa: E501
        if 'exists_no_mls_contents' in params:
            query_params.append(('exists[noMlsContents]', params['exists_no_mls_contents']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20021',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_external_content_organization_item(self, id, **kwargs):  # noqa: E501
        """Retrieves a ExternalContentOrganization resource.  # noqa: E501

        Retrieves a ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_external_content_organization_item(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: ExternalContentOrganizationJsonldExternalContentOrganizationItemRead
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_external_content_organization_item_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_external_content_organization_item_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_external_content_organization_item_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a ExternalContentOrganization resource.  # noqa: E501

        Retrieves a ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_external_content_organization_item_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Resource identifier (required)
        :return: ExternalContentOrganizationJsonldExternalContentOrganizationItemRead
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_external_content_organization_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_external_content_organization_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExternalContentOrganizationJsonldExternalContentOrganizationItemRead',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_external_content_organization_collection(self, body, **kwargs):  # noqa: E501
        """Creates a ExternalContentOrganization resource.  # noqa: E501

        Creates a ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_external_content_organization_collection(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationWrite body: The new ExternalContentOrganization resource (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_external_content_organization_collection_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_external_content_organization_collection_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def post_external_content_organization_collection_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a ExternalContentOrganization resource.  # noqa: E501

        Creates a ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_external_content_organization_collection_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationWrite body: The new ExternalContentOrganization resource (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_external_content_organization_collection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_external_content_organization_collection`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExternalContentOrganizationJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_external_content_organization_collection(self, body, **kwargs):  # noqa: E501
        """Creates a ExternalContentOrganization resource.  # noqa: E501

        Creates a ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_external_content_organization_collection(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationWrite body: The new ExternalContentOrganization resource (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_external_content_organization_collection_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_external_content_organization_collection_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def post_external_content_organization_collection_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a ExternalContentOrganization resource.  # noqa: E501

        Creates a ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_external_content_organization_collection_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationWrite body: The new ExternalContentOrganization resource (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_external_content_organization_collection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_external_content_organization_collection`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExternalContentOrganizationJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_external_content_organization_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the ExternalContentOrganization resource.  # noqa: E501

        Replaces the ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_external_content_organization_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationItemWrite body: The updated ExternalContentOrganization resource (required)
        :param str id: Resource identifier (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_external_content_organization_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_external_content_organization_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_external_content_organization_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the ExternalContentOrganization resource.  # noqa: E501

        Replaces the ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_external_content_organization_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationItemWrite body: The updated ExternalContentOrganization resource (required)
        :param str id: Resource identifier (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_external_content_organization_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_external_content_organization_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_external_content_organization_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExternalContentOrganizationJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_external_content_organization_item(self, body, id, **kwargs):  # noqa: E501
        """Replaces the ExternalContentOrganization resource.  # noqa: E501

        Replaces the ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_external_content_organization_item(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationItemWrite body: The updated ExternalContentOrganization resource (required)
        :param str id: Resource identifier (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_external_content_organization_item_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.put_external_content_organization_item_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def put_external_content_organization_item_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Replaces the ExternalContentOrganization resource.  # noqa: E501

        Replaces the ExternalContentOrganization resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_external_content_organization_item_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExternalContentOrganizationJsonldExternalContentOrganizationItemWrite body: The updated ExternalContentOrganization resource (required)
        :param str id: Resource identifier (required)
        :return: ExternalContentOrganizationJsonld
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_external_content_organization_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `put_external_content_organization_item`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `put_external_content_organization_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json', 'application/json', 'text/html', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth']  # noqa: E501

        return self.api_client.call_api(
            '/mls-api/external-content-organizations/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExternalContentOrganizationJsonld',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
