# coding: utf-8

"""
    Skill Repository

    The API description of the Skill Repository.  # noqa: E501

    OpenAPI spec version: 1.1.3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from sse_search_client.api_client import ApiClient


class LearningHistoryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def learning_history_controller_get_learned_skills(self, history_id, **kwargs):  # noqa: E501
        """learning_history_controller_get_learned_skills  # noqa: E501

        Returns the learned skills of a user (sorted descending by creation date)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.learning_history_controller_get_learned_skills(history_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str history_id: (required)
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.learning_history_controller_get_learned_skills_with_http_info(history_id, **kwargs)  # noqa: E501
        else:
            (data) = self.learning_history_controller_get_learned_skills_with_http_info(history_id, **kwargs)  # noqa: E501
            return data

    def learning_history_controller_get_learned_skills_with_http_info(self, history_id, **kwargs):  # noqa: E501
        """learning_history_controller_get_learned_skills  # noqa: E501

        Returns the learned skills of a user (sorted descending by creation date)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.learning_history_controller_get_learned_skills_with_http_info(history_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str history_id: (required)
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['history_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method learning_history_controller_get_learned_skills" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'history_id' is set
        if ('history_id' not in params or
                params['history_id'] is None):
            raise ValueError("Missing the required parameter `history_id` when calling `learning_history_controller_get_learned_skills`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'history_id' in params:
            path_params['history_id'] = params['history_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/learning-history/{history_id}/learned-skills', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def learning_history_controller_get_personalized_path(self, path_id, **kwargs):  # noqa: E501
        """learning_history_controller_get_personalized_path  # noqa: E501

        Returns a personalized learning path.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.learning_history_controller_get_personalized_path(path_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path_id: (required)
        :return: PersonalizedPathDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.learning_history_controller_get_personalized_path_with_http_info(path_id, **kwargs)  # noqa: E501
        else:
            (data) = self.learning_history_controller_get_personalized_path_with_http_info(path_id, **kwargs)  # noqa: E501
            return data

    def learning_history_controller_get_personalized_path_with_http_info(self, path_id, **kwargs):  # noqa: E501
        """learning_history_controller_get_personalized_path  # noqa: E501

        Returns a personalized learning path.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.learning_history_controller_get_personalized_path_with_http_info(path_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path_id: (required)
        :return: PersonalizedPathDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method learning_history_controller_get_personalized_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path_id' is set
        if ('path_id' not in params or
                params['path_id'] is None):
            raise ValueError("Missing the required parameter `path_id` when calling `learning_history_controller_get_personalized_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path_id' in params:
            path_params['path_id'] = params['path_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/learning-history/{history_id}/personalized-paths/{path_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PersonalizedPathDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def learning_history_controller_get_personalized_paths(self, history_id, **kwargs):  # noqa: E501
        """learning_history_controller_get_personalized_paths  # noqa: E501

        Returns the personalized learning paths of a user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.learning_history_controller_get_personalized_paths(history_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str history_id: (required)
        :return: PersonalizedLearningPathsListDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.learning_history_controller_get_personalized_paths_with_http_info(history_id, **kwargs)  # noqa: E501
        else:
            (data) = self.learning_history_controller_get_personalized_paths_with_http_info(history_id, **kwargs)  # noqa: E501
            return data

    def learning_history_controller_get_personalized_paths_with_http_info(self, history_id, **kwargs):  # noqa: E501
        """learning_history_controller_get_personalized_paths  # noqa: E501

        Returns the personalized learning paths of a user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.learning_history_controller_get_personalized_paths_with_http_info(history_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str history_id: (required)
        :return: PersonalizedLearningPathsListDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['history_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method learning_history_controller_get_personalized_paths" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'history_id' is set
        if ('history_id' not in params or
                params['history_id'] is None):
            raise ValueError("Missing the required parameter `history_id` when calling `learning_history_controller_get_personalized_paths`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'history_id' in params:
            path_params['history_id'] = params['history_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/learning-history/{history_id}/personalized-paths', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PersonalizedLearningPathsListDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
